html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

#app {
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2C3E50;

  @include breakpoint($min-desktop-xlarge) {
    height: 100%;
  }
}

input[type=text],
textarea {
    width: 100%;
    min-height: 40px;
    color: $dark-color;
    background-color: $light-color;
    border: none;
    background-color: $light-color;
    appearance: none;
    resize: none;
    outline: none;
    box-sizing: border-box;
}

textarea {
    min-height: 100%;
}
