@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";

/* breakpoints */

$min-tablet: min-width 480px;
$min-desktop: min-width 768px;
$min-desktop-xlarge: min-width 1280px;
$min-desktop-xxlarge: min-width 1440px;

/* colors */

$primary-color: #E6ECF0;
$secondary-color: #0C6D72E2;
$light-color: #FFFFFF;
$grey-color: #DDDDDD;
$grey-light-color: #EFEFEF;
$grey-medium-color: #C7C7C7;
$dark-color: #0C0C0C;